# From Mendix svnignore
.classpath
.mendix-cache
.project
*.launch
*.mpr.bak
*.mpr.lock
deployment
GPUCache
modeler-merge-marker
project-settings.user.json

# Mendix 8 Gulp styling
Gulpfile.js
node_modules
package-lock.json
package.json
